# Database
DATABASE_URL=postgresql://user:password@localhost:5432/hortsoy

# App Settings
NEXT_PUBLIC_APP_URL=http://localhost:3000
USE_PRISMA=true

# Support & Marketing
NEXT_PUBLIC_SUPPORT_WHATSAPP=seunumero
NEXT_PUBLIC_SUPPORT_TEXT=mensagemsuporte